.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid;
}

#previsaoImagem {
    max-width: 100%;
    display: block;
    margin: 10px auto;
}
